version: "3"
services:
  react-app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/usr/frontend
    ports:
      - 3000:3000
    networks:
      - app

  db:
    image: postgres:13
    restart: always
    hostname: db
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres

networks:
  app:
    driver: bridge
